<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">
    <title>Interpoll - Poll Results</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Admin Page - Poll Results</h1>
          <h2>Question: <%= poll.question %></h2>
          <h3>Results:</h3>
          <div id="poll-results">
            <% for (var choice in votes) { %>
              <p><%= choice %>: <%= votes[choice] %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
      integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
